

<div class="container" id="container-signup">

 <div class="arrow-left">
  <%= link_to "<<", root_path,:class=>"btn btn-primary"  %>
</div>


<div class="wrapper">

 <div class="title">Sign up</div>

 <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
 <%= f.error_notification %>

 <div class="form-inputs">

<!-- <div class="form-group">
    <label for="exampleFormControlSelect1">Gender</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Mr</option>
      <option>Mrs</option>
      <option>Ms</option>
    </select>
  </div> -->
                  <br/>
                  <%= f.input :first_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "first_name" }%>

                  <%= f.input :last_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "last_name" }%>

                  <%= f.input :phone_number,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "phone_number" }%>
                  <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
                <!--
      <%= f.input :university,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "university" }%> -->

                  <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
                  <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
                  <br/>

                  <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>


                  <div class="text-center"><br/><br/><br/>
                    <%= f.button :submit, "Create account", :style => "border-radius:10px;margin:0 auto;color:white;width:150px;opacity:0.9;background:#3E64FF;" %>
                  </div>
                  <% end %>



                </div>


              </div>


              <div class="container" id="signupaside1">
                <h2>
                  Sign up here so that you can quickly buy or add second-hand books on the platform.
                </h2>


              </div>
            </div>

             <div class="footer">
      <div class="footer-copyright">
        <div>This website is made with <i class="fas fa-heart"></i> by Lucas, Sebastien and Alex </div>
      </div>

      <div class="footer-links">
        <div class="social-links">
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>






