
<div class="et_pb_section et_pb_section_0 et_pb_with_background et_section_regular">
</div>


<div class ="dashboard">





  <div class="container1">




                       <div class="dashboardcard">                   <br/>

                        <div class="animate__animated animate__fadeIn"  id="avatar">
                          <% if current_user.photo == true %>
                          <%= cl_image_tag current_user.photo.key, height: 150, width: 150, crop: :fill %>
                          <% else %>
                          <%= image_tag('alex.png', height: "150", width: "150", style: "border-radius: 100px;") %>

                          <% end %>

                        </div>
                        <br/>

                        <p class="graduateicon"><i class="fas fa-user-graduate"> </i>-ID: <%=current_user.id%> </p>

                        <div class=" info-title"> PERSONAL INFOS<br/>
                        </div>


                        <div class="infoperso">


                          <div class="info1">

                           <p class="m-b-2 f-w-800">DATE OF BIRTH</p>
                           <p class="text-muted f-w-400"><%=current_user.date_of_birth%></p>
                           <p class="m-b-5 f-w-800"><i class="fas fa-mobile-alt"></i> PHONE NUMBER</p>
                           <p class="text-muted f-w-400"><%=current_user.phone_number%></p>






                         </div>

                         <div class="info2">

                          <p class="f-w-800"><i class="fas fa-at"></i>-ADDRESS</p>
                          <p class="text-muted f-w-400"><%=current_user.email%></p>
                          <p class="m-b-2 f-w-800">University</p>
                          <p class="text-muted f-w-400"><%=current_user.university%></p>
                          <p class="m-b-2 f-w-800">About me</p>
                           <p class="text-muted f-w-400">Former high-level football player, <br/> tech lover</p>



                          <br/>
                        </div>

                      </div><br/>

                      <div class="text-center">
                        <%=link_to "Edit account", edit_user_registration_path, :class=>"btn btn-primary", :style=>"background:#3E64FF;;margin-bottom:10px;" %>
                      </div>

                    </div>






     <div class="dashlinksetmoney">

       <div id="headdash">MySyllabuy
       </div>
       <br/>

       <div class="dashboardlinks">
          <!-- <div class="typewriter"><h1 id="hello"> <i>My</i> </h1>
          </div> -->
          <div class="containerlink">

            <div class="text-dashlink">Have a look at your activities on the platform</div>

            <div class="btn btn-primary" style="width:140px;background:#3E64FF">
            </div>

          </div>
          <div class="containerlink">
           <div class="boutonprb">
            <div class="iconmypurchases"></div><br/><br/>
          </div> <br/>

          <div class="btn btn" style="width:140px;"> <%= link_to 'My purchases', purchases_path,:class=>"btn btn-primary", :style=>"color:white;background:#3E64FF;margin-bottom:10px;" %>
          </div>

        </div>

        <div class="containerlink">
         <div class="boutonprb">
          <div class="iconmyreviews"></div><br/><br/>
        </div> <br/>

        <div class="btn btn" style="width:140px;"> <%= link_to "My sellers reviews", user_reviews_path(current_user), :class=>"btn btn-primary", :style=>"background:#3E64FF;color:white;margin-bottom:10px;" %>
        </div>

      </div>

      <div class="containerlink">
       <div class="boutonprb">
        <div class="iconmybooks"></div><br/><br/>
      </div> <br/>

      <div class="btn btn" style="width:140px;"> <%= link_to "My books on sale", user_books_path(current_user), :class=>"btn btn-primary", :style=>"background:#3E64FF;margin-bottom:10px;"  %>

      </div>
    </div>
  </div>
</div>










<div class="dashboardcard2">

  <div class="d-flex justify-content-around">
      <div class="averagerating">

       <div class="d-flex">
         <div class="profit"><i class="far fa-star"></i>
          <p style="font-size:20px;"> My average <br/>rating</p>
          <p id="noteglobale" style="font-size:12px;">Awaiting a first review about you.</p>
        </div>
       </div>
      </div>


      </div>







 <div class="moneyetplus">
       <div class="d-flex justify-content-center">


        <div class="money" style="padding:0px;">
        <div class="signeuro" style="text-align:center;">
          <i class="fas fa-user-circle"></i>
        </div>

          <div class="profit" style="font-size:20px;text-align: center;">
            <br/>8<br/><br/>
            <p class="text-muted f-w-400">NEW <br/>BUYERS</p>
          </div>
        </div>

        <div class="money" style="padding:0px;">
          <div class="signeuro" style="text-align:center;">
            <i class="fas fa-comment-dots"></i>
          </div>
          <div class="profit" style="font-size:20px;text-align: center;">
            <br/>3<br/><br/>
            <p class="text-muted f-w-400">NEW <br/>REVIEWS</p>
          </div>
        </div>

       </div>
      </div>
</div>


    </div>
   </div>
  </div>
 </div>
</div>














