<div class="container">
  <h1>Welcome, <%= @user.first_name %></h1>

  <table>
    <tr>
      <th>
        My Syllabuy
      </th>

    </tr>

    <tr>
      <td> <%= link_to 'My profile', user_path(current_user) %></td>
    </tr>

    <tr>
      <td> <%= link_to 'My purchases', user_purchases_path(current_user) %></td>
    </tr>

    <tr>
      <td> <%= link_to 'My books', user_books_path(current_user) %></td>
    </tr>

    <td> <%= link_to "Log out", destroy_user_session_path, method: :delete %> </td>

  </table>

</div>
