<div class ="dashboard">
  <br/><br/>
<!-- <div>
    <h1 class="text-left" id="hello"> Hello, <%=current_user.first_name %> <%=current_user.last_name %> !</h1>
</div> -->
  <br/><br/><br/>



  <div class="container1" style="background:white;">
   <div class="row justify-content-center">

     <div class="dashboardcard">                   <br/>




      <div class="animate__animated animate__fadeIn" class="text-center" id="avatar" style="text-align:center;">
        <% if current_user.photo == true %>
                <%= cl_image_tag current_user.photo.key, height: 150, width: 150, crop: :fill %>
        <% else %>
        <%= image_tag('books-stack.jpg', height: "150", width: "150", style: "border-radius: 100px;") %>

        <% end %>

      </div>
      <br/>

          <p class="graduateicon"><i class="fas fa-user-graduate"> </i>-ID: <%=current_user.id%> </p>
       <div class="infoperso"> * * *  <br/>
        <div class="m-b-20 p-b-5 b-b-default f-w-600" style="color:black"> PERSONAL INFOS<br/>
        </div>
            <br/>

        <div class="col-sm-12 col-md-12 col-lg-12">

             <p class="f-w-800"><i class="fas fa-at"></i>-ADDRESS</p>
             <p class="text-muted f-w-400"><%=current_user.email%></p>
             <p class="m-b-5 f-w-800"><i class="fas fa-mobile-alt"></i> PHONE NUMBER</p>
             <p class="text-muted f-w-400"><%=current_user.phone_number%></p>
             <p class="m-b-2 f-w-800">DATE OF BIRTH</p>
             <p class="text-muted f-w-400"><%=current_user.date_of_birth%></p>
             <%=link_to "Edit account", edit_user_registration_path, :class=>"btn btn-primary", :style=>"background:#3E64FF;margin-bottom:10px;" %>
        </div>
      </div>
     </div>


      <!--  <div class="dashlinksetmoney"> -->

        <div class="dashboardlinks">

         <div class="d-flex">
          <div class="typewriter"><h1 id="hello"> <i>My</i> </h1>
          </div>
          <div id="headdash">
          </div>
         </div>

        <div class="mysillabuylinks">

         <div class="boutonprb" style="background:#ECFCFF;margin-bottom:10px;box-shadow:  0 0 5px;"><i class="fas fa-shopping-basket" ></i>
            <%= link_to 'My purchases', purchases_path, :style => "color:black;" %>
         </div>

         <div class="boutonprb" style="background:#ECFCFF;margin-bottom:10px;box-shadow:  0 0 5px;"><i class="fas fa-comment-dots" style="width:20px;"></i>
            <%= link_to 'My reviews', user_reviews_path(current_user), :style => "color:black;" %></td>
         </div>

         <div class="boutonprb" style="background:#ECFCFF;margin-bottom:10px;box-shadow:  0 0 5px;"><i class="fas fa-book" style="width:20px;"></i>
           <%= link_to 'My books', user_books_path(current_user), :style => "color:black;"%></td>
         </div>
       </div>

       </div>


<!--       <div class="moneyetplus">
       <div class="d-flex justify-content-center">

        <div class="money" style="padding:0px;">
         <div class="signeuro" style="text-align:center;">
            <i class="fas fa-coins"></i>
         </div>

         <div class="profit" style="font-size:20px;text-align: center;">
            <br/>1652€</i><br/><br/>
            <p class="text-muted f-w-400">TOTAL <br/>PROFIT</p>
         </div>
        </div>


        <div class="money" style="padding:0px;">
        <div class="signeuro" style="text-align:center;">
          <i class="fas fa-user-circle"></i>
        </div>

          <div class="profit" style="font-size:20px;text-align: center;">
            <br/>8<br/><br/>
            <p class="text-muted f-w-400">NEW <br/>BUYERS</p>
          </div>
        </div>

        <div class="money" style="padding:0px;">
          <div class="signeuro" style="text-align:center;">
            <i class="fas fa-comment-dots"></i>
          </div>
          <div class="profit" style="font-size:20px;text-align: center;">
            <br/>3<br/><br/>
            <p class="text-muted f-w-400">NEW <br/>REVIEWS</p>
          </div>
        </div>

       </div>
      </div> <br/> -->


 <!--    </div> -->
<!--
<br/><br/><br/><br/>
<div class="dashboardcard" style="visibility:hidden;">
  <div class="d-flex justify-content-around">
      <div class="averagerating">

       <div class="d-flex">
         <div class="profit"><i class="far fa-star"></i>
          <p style="font-size:20px;"> Average <br/>rating<br/></p>
          <p id="noteglobale">3,7/5</p>
        </div>
       </div>
      </div>

       <div class="averagerating">

       <div class="d-flex">
         <div class="profit"><i class="far fa-star"></i>
          <p style="font-size:20px;"> Number <br/>5* rating<br/></p>
          <p id="noteglobale">55</p>
        </div>
       </div>
      </div>

      </div>





        <div class="d-flex justify-content-around">
      <div class="averagerating">

       <div class="d-flex">
         <div class="profit"><i class="far fa-star"></i>
          <p style="font-size:20px;"> Number <br/>views<br/></p>
          <p id="noteglobale">3,7/5</p>
        </div>
       </div>
      </div>

       <div class="averagerating">

       <div class="d-flex">
         <div class="profit"><i class="far fa-star"></i>
          <p style="font-size:20px;"> Number <br/>5* rating<br/></p>
          <p id="noteglobale">55</p>
        </div>
       </div>
      </div>

      </div>


 <div class="socialnetworks">
        <div class=" d-flex justify-content-center">

          <div class="insta">


              <div class="signuro">
                <a href="#"><i class="fab fa-instagram" style="color:#3E64FF;"></i></a>
              </div>


              <div class="profit" style="font-size:32px;margin-left:20px;">

              </div>

          </div>

          <div class="facebook">


            <div class="signuro">
                <a href="#"><i class="fab fa-facebook" style="color:#3E64FF"></i></a>

            </div>


            <div class="profit" style="font-size:32px;margin: 5px 0px 5px 20px;">

            </div>


          </div>


          <div class="twitter">

             <div class="signuro">
               <a href="#"><i class="fab fa-twitter" style="color:#3E64FF;"></i></a>
             </div>
            <div class="mynewreviews" style="font-size:32px;margin-left:10px;">
           </div>

         </div>

        </div>
       </div>


    </div> -->
   </div>
  </div>
 </div>
</div>








<!--
<div class="footer"style="margin:0 auto;background:white;opacity:0.7">
  <div class="footer-copyright">
    <div>This website is made with <i class="fas fa-heart"></i> by Lucas, Sebastien and Alex </div>
  </div>

  <div class="footer-links" >
    <div class="social-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div> -->

