<div class="container" style="text-align: center;margin-top: 130px;margin-top: 120px;background: white; padding: 30px;border-radius: 4px;box-shadow: 0 10px 30px rgba(0,0,0,.1); width:560px">
  <div class="row py-4">

    <div class="col">
      <h1 style="text-align: center; margin-bottom: 30px">Congratulations, you have made a purchase on Syllabuy!</i></h1>
       <% if @purchase.book.photo.attached? %>
        <p style="text-align:center"><%= cl_image_tag @book.photo.key, height: 250, width: 230, :crop=>"fit", :style => 'border-radius: 8px;' %></p>
       <% else %>
        <p style="text-align:center"><%= image_tag('books-stack.jpg', height: "250", width: "230", style: "border-radius: 8px;")%></p>
       <% end %>
      <h2 style="margin-top: 30px">Order #<%= @purchase.id %> <small>is <%= @purchase.state %></span></small></h2>
      <ul class="list-unstyled">
        <li><strong>Bought on:</strong> <%= @purchase.created_at.to_date %></li>
        <li><strong>Book:</strong> <%= @purchase.book.title %></li>
        <li><strong>Total:</strong> <%= humanized_money_with_symbol @purchase.amount %></li>
        </li>
      </ul>
      <p>The seller will contact you soon to confirm the sale.</p>
       <%= link_to 'Go back to the search page', books_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
