<div class="banner">
  <div class="container">
      <h1>Find your university textbooks from students near you.</h1>

    <div class="search-fields">

      <div class="search-bar">
        <%= form_tag books_path, method: :get do %>
        <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search for a book, author, university, ... " %>
      </div>

      <div class="search-button">
        <%= submit_tag "Search", class: "btn btn-primary", id:"search-button" %>
        <% end %>
      </div>

    </div>

  </div>
</div>

<div class="container">

  <div class="container">

    <h1 class="text-center"> Some of our Community's Books </h1>
    <p class="text-center"> Find the right book for your needs.</p>

    <div class="container">
      <div class="cards">
        <% @books.each do |book| %>
          <div class="card">

            <img src="https://picsum.photos/300/400" alt="#" height= "320px">

            <div class="card-body">
              <div class="card-title">
                <h3><%= book.title %></h3>
                <p>Author: <%= book.author %></p>
                <p>Edition year: <%= book.edition_year %></p>
              </div>

              <div>
                <p>Price: <%= book.price %> EUR</p>
                <p>Sold by: <%= book.user.email %> </p>
              </div>

              <%= link_to 'More details', book_path(book), :class  => "btn btn-info", :style => "font-size: 12px; border-radius:10px; width: 120px; background:white;opacity:0.9" %>
                  <% if book.user == current_user %>
                  <%= link_to 'Edit', edit_book_path(book), :class  => "btn btn-info", :style => "font-size: 12px; border-radius:10px; width: 120px; background:white;opacity:0.9" %>
                  <%= link_to 'Destroy', book, method: :delete, data: {confirm: 'Are you sure?'}, :class  => "btn btn-info", :style => "font-size: 12px; border-radius:10px; width: 120px; background:white;opacity:0.9" %>
                  <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="categories">

      <h2>Find books on many topics</h2>

      <div class="category-cards">

        <%= link_to "/books?query=business" do %>
        <div class="card-category">
          <h3>Business</h3>
        </div>
        <% end %>

        <%= link_to "/books?query=law" do %>
        <div class="card-category">
          <h3>Law</h3>
        </div>
        <% end %>


        <%= link_to "/books?query=art" do %>
        <div class="card-category">
          <h3>Art</h3>
        </div>
        <% end %>

      </div>

    </div>

  </div>

</div>
