<div  class="container">
  <h1 class="text-center">Something to change? Edit your existing book!</h1>
  <%= link_to "Go back", book_path(@book), class: "btn btn-primary" %>
  <br>
  <br>
       
  <div class="add-form">

    <%= simple_form_for(@book) do |f| %>

      <%= f.error_notification %>

      <%= f.label :title, "Title of your book (required):"%>
      <%= f.text_field :title, :class => "form-control" %>

      <%= f.label :author, "Author(s) of this book (required):"%>
      <%= f.text_field :author, :class => "form-control" %>

      <%= f.label :summary, "Enter the book's bio or short summary:"%>
      <%= f.text_field :summary, :class => "form-control" %>

      <%= f.input :topic, label: 'Book topic:', collection: ['Business', 'Science', 'History', 'Art', 'Engineering', 'Law', 'Economics'].sort %>

      <%= f.label :subtopic, "Book subtopic:"%>
      <%= f.text_field :subtopic, :class => "form-control" %>

      <%= f.label :language, "Enter the book's language:"%>
      <%= f.text_field :language, :class => "form-control" %>

      <%= f.label :edition_year, "Book edition year (required):"%>
      <%= f.text_field :edition_year, :class => "form-control" %>

      <%= f.label :publisher, "Name of book publisher:"%>
      <%= f.text_field :publisher, :class => "form-control" %>

      <%= f.label :pages, "Number of Book pages:"%>
      <%= f.text_field :pages, :class => "form-control" %>

      <%= f.label :ISBN, "Book ISBN number:"%>
      <%= f.text_field :ISBN, :class => "form-control" %>

      <%= f.input :condition, label: 'Condition of the book:', collection: ['As New', 'Excellent', 'Very Good', 'Good', 'Fair', 'Poor'] %>

      <%= f.label :photo, "Picture of your book:"%>
      <%= f.input :photo, as: :file, :class => "form-control" %>

      <h2>Your selling details </h2>

      <%= f.input :delivery_method, label: 'Book delivery method:', collection: ['Pickup on location', 'Send by Post'].sort %>

      <%= f.label :selling_address, "*Only in case of pick-up: After payment, where can the buyer pick up this book?"%>
      <%= f.text_field :selling_address, :class => "form-control", :id => "selling_address" %>

      <%= f.label :correct_price, "Book price (this is the price for which your book will be listed for sale on the platform):"%>
      <%= f.number_field :correct_price, :class => "form-control" %>
      
      <%= f.button :submit, class: "btn-lg btn-primary", :style =>"margin:0 auto;" %>
    <% end %>

  </div>
</div>
