<div class="containerindexbook" style="margin-top:50px;">
 <div class ="text-center" style="width:100%;padding:5px;background:white;border-radius:10px;position:fixed; z-index:2030">

    <h1 id="titreindexbook" class="text-center"> Available Books </h1>
    <p class="text-center"> Find the right book for your needs.</p>

    <br/>

    <div class="search-fields" style="margin:0 auto;"">
      <div class="search-bar">
        <%= form_tag books_path, method: :get do %>
        <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search for a book, author, university, ... " %>
      </div>

      <div class="search-button">
        <%= submit_tag "Search", class: "btn btn-primary", id:"search-button" %>
        <% end %><br/><br/>
      </div>

    </div>


  </div>

</div>

<div class="container3 justify-content-space-evenly">
<div class="d-flex">



  <div class="container3 justify-content-space-evenly">
    <div class="d-flex">
      <div class="indexbook-container" style="margin-top:175px;padding:24px;">

        <div class="cards">
          <% @books.each do |book| %>
            <div class="card">

              <% if book.photo.attached? %>
                  <%= cl_image_tag book.photo.key, height: 250, width: 230, crop: :fill, :style => 'border-radius: 8px;' %>
              <% else %>
                  <img src="https://picsum.photos/180/250" alt="#" height= "250px">
              <% end %>

              <div class="card-body">
                <div class="card-title">
                  <h3><%= book.title %></h3>
                  <p>Author: <%= book.author %></p>
                  <p>Edition year: <%= book.edition_year %></p>
                </div>

                <div>
                  <p>Price: <%= book.price %> EUR</p>
                  <p>Sold by: <%= book.user.first_name %> </p>
                </div>

                <% if current_user == book.user %>
                  <%= link_to 'View my book', book_path(book), class: "btn btn-primary" %>
                <% else %>
                  <%= link_to 'Buy now', book_path(book), class: "btn btn-primary" %>
                <% end %>

              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>


   <div
     id="map"
     style="width: 50%; height: 100vh;border:15px solid white;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

</div>
</div>

</div>
