
 <!--  <div class="search" style="border: none;">
    <div class ="search-bar form-inline"> -->


      <h1 id="titreindexbook"> Available Books </h1>

      <p class="text-center"> Find the right book for your needs.</p>



      <div class="indexbook-container">
        <div class="cards">
          <% @books.each do |book| %>
          <div class="card">

            <img src="https://picsum.photos/400/300" class="card-img-top" src="..." alt="Card image cap" style="border-radius:8px;">

            <div class="card-body">
              <div class="card-title">
                <h3><%= book.title %></h3>
              </div>
              <p>Owner: <%= book.user_id %></p>
              <p>Price: <%= book.price %> EUR</p>
              <p>Edition year: <%= book.edition_year %></p>


              <%= link_to 'More details', book_path(book)%>

            </div>
          </div>
          <% end %>
        </div>
      </div>



<!--   <div class="footer">
    <div class="footer-copyright">
      <div>This website is made with <i class="fas fa-heart"></i> by Lucas, Sebastien and Alex</div>
    </div>
  </div>

  <div class="footer-links">

    <div class="social-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div> -->

