<div class="containerindexbook">


  <div class ="text-center" style="width:100%;padding:5px;background:white;border-radius:10px;position:fixed;top:60px;z-index:1; padding-bottom: 30px;">

    <h1 class="text-center" style="color:#3E64FF;"> Available Books </h1>
    <h3 class="text-center" style="color:black;"> Find the books you need.</h3>

    <div id ="search-fields" style="margin:0 auto; ">
      <div class="search-bar">
        <%= form_tag books_path, method: :get do %>
        <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search for a book, author, university, ... " %>
      </div>

      <div class="search-button">
        <%= submit_tag "Search", class: "btn btn-primary", id:"search-button", style:" border-radius: 16px; width: 100px;" %>
        <% end %>
      </div>


      <br/>

    </div>
  </div>
  <div class="indicateurdeprix" style="position:fixed;border-radius:3px;z-index:300;margin-top:160px;width:100%;margin-bottom:100px;">
    <div class="d-flex justify-content-center" style="text-align:center;border-radius:50px;transform:translate(0px,-50px);"></div>
  </div>
</div>
<div class="container-books">
    <div style="padding:24px;">
      <div class="cards" style="margin-top:180px;">
        <% @books.each do |book| %>
          <%= link_to book_path(book) do %>


            <div class="books-card">

              <% if book.photo.attached? %>
              <%= cl_image_tag book.photo.key, height: 231, width: 154, crop:"fill", style: 'border-radius: 4px;' %>
              <% else %>

                <%= image_tag('books-stack.jpg', height: "231", width: "154", style: "border-radius: 4px;") %>
              <% end %>
              <div class="card-body" style="position: relative; height: 40%;">
                <div class="card-title" style="color: black; text-decoration: none;">
                  <h3><%= book.title.truncate(20).capitalize %> (<%= book.edition_year %>)</h3>
                  <p>Author: <%= book.author.capitalize %></p>

                    <p style="font-family: Playfair Display; font-size: 18px; font-weight: bold; position: absolute; bottom: 1px;">Amount: <%= humanized_money_with_symbol(book.correct_price) %></p>

                </div>
              </div>


            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="map" style="width: 100%; height: 110vh;margin-top:100px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>

<div class="footer">
      <div class="footer-copyright">
        <div>This website is made with <i class="fas fa-heart"></i> by Lucas, Sebastien and Alex </div>
      </div>

      <div class="footer-links">
        <div class="social-links">
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>



