<div class="container">

  <h1 id="titreindexbook" class="text-center"> My books</h1>
  <p class="text-center"> See which books you added to the platform.</p>



  <div class="indexbook-container">
    <div class="cards">
      <% @books.each do |book| %>
      <div class="card">

      <img src="https://picsum.photos/300/400" alt="#" height= "320px">

        <div class="card-body">
          <div class="card-title">
            <h3><%= book.title %></h3>
            <p>Author: <%= book.author %></p>
            <p>Edition year: <%= book.edition_year %></p>
          </div>

          <div>
          <p>Price: <%= book.price %> EUR</p>
          <p>Sold by: <%= book.user.email %> </p>
          </div>

          </div>

           <%= link_to 'View my book', book_path(book) %>
        </div>
      <% end %>
      </div>
    </div>


</div>
