<div class="container">

  <h1 id="titreindexbook" class="text-center"> My books</h1>
  <p class="text-center"> See which books you added to the platform.</p>

  <div class="indexbook-container">

    <h3>Your books waiting to be sold</h3>

    <div class="cards mt-5">





      <% @books_pending.each do |book| %>
      


            <div class="books-card">

              <% if book.photo.attached? %>
              <%= cl_image_tag book.photo.key, height: 231, width: 154, crop:"fill", style: 'border-radius: 4px;' %>
              <% else %>

                <%= image_tag('books-stack.jpg', height: "231", width: "154", style: "border-radius: 4px;") %>
              <% end %>

              <div class="card-body">
                <div class="card-title" style="color: black; text-decoration: none;">
                  <h3><%= book.title.capitalize %> (<%= book.edition_year %>)</h3>
                  <p>Author: <%= book.author.capitalize %></p>
                  <p style="font-family: Playfair Display; font-size: 18px; font-weight: bold;">Amount: <%= humanized_money_with_symbol(book.correct_price) %></p>

                  <%= link_to 'View book', book_path(book) %>
                  <br>
                  <%= link_to 'Edit book', edit_book_path(book) %>
                  <br>
                  <%= link_to 'Delete book', book_path(book), method: :delete, data: { confirm: "Are you sure you want to delete this book ?" } %>
                </div>
              </div>


            </div>

      <% end %>

      <%= link_to new_book_path do %>
       <div>
        <p style="text-decoration: none;">Add a new book <i class="fas fa-plus-circle"></i></p>
       </div>

      <% end %>
    </div>
  </div>

  <div class="indexbook-container" style="margin-top: 120px;">

      <h3>Your sold books</h3>

      <% if @books_sold.empty? %>
      
        <div style="margin-bottom: 120px;">
          <p>You do not yet have any books sold.</p>
        </div>

      <% else %>
        <div class="cards mt-5">

          <% @books_sold.each do |book| %>
          
                <div class="books-card">

                  <% if book.photo.attached? %>
                  <%= cl_image_tag book.photo.key, height: 231, width: 154, crop:"fill", style: 'border-radius: 4px;' %>
                  <% else %>

                    <%= image_tag('books-stack.jpg', height: "231", width: "154", style: "border-radius: 4px;") %>
                  <% end %>

                  <div class="card-body">
                    <div class="card-title" style="color: black; text-decoration: none;">
                      <h3><%= book.title.capitalize %> (<%= book.edition_year %>)</h3>
                      <p>Author: <%= book.author.capitalize %></p>
                      <p style="font-family: Playfair Display; font-size: 18px; font-weight: bold;">Amount: <%= humanized_money_with_symbol(book.correct_price) %></p>

                      <%= link_to 'View book', book_path(book) %>
                      <br>

                    </div>
                  </div>


                </div>
            
          <% end %>
        </div>
      
      <% end %>
      

  </div>



</div>

<div class="footer">
      <div class="footer-copyright">
        <div>This website is made with <i class="fas fa-heart"></i> by Lucas, Sebastien and Alex </div>
      </div>

      <div class="footer-links">
        <div class="social-links">
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>




