<div  class="addabook-container" style="margin-top:100px;height:auto;">
  <h1 class="text-center">Fill the form to add a new book to the platform!</h1>
  <div class="container5" style="margin:0 auto;background: ;text-align:center;transform:translate(0px,-35px);line-height: 20px;padding:2%;">
<br/><br/>
    <%= simple_form_for(@book) do |f| %>

      <%= f.error_notification %>


      <%= f.text_field :title, :class => "form-control", :placeholder => "Title*"%><br/>


      <%= f.text_field :author, :class => "form-control" ,:placeholder => "Author*"%><br/>


      <%= f.text_field :summary, :class => "form-control" ,:placeholder => "Short summary"%>

      <%= f.input :topic,collection: ['Business', 'Science', 'History', 'Art', 'Engineering', 'Law', 'Economics'].sort %>


      <%= f.text_field :subtopic, :class => "form-control", :style => "text-align:center;width:180px;display:inline;",:placeholder => "Subtopic" %>


      <%= f.text_field :language, :class => "form-control", :style => "width:100px;display:inline;", :placeholder => "Language" %>


      <%= f.text_field :edition_year, :class => "form-control", :style => "width:67px;display:inline;", :placeholder => "Year*" %>


      <%= f.text_field :publisher, :class => "form-control",:style => "text-align:center;width:180px;display:inline;",:placeholder => "Publisher" %>


      <%= f.text_field :pages, :class => "form-control", :style => "width:120px;display:inline;",:placeholder => "N° of pages" %>


      <%= f.text_field :ISBN, :class => "form-control", :style => "display:inline;width:130px;", :placeholder => "ISBN number" %><br/><br/>
      <%= f.input :photo, as: :file, :class => "form-control"%>

      <%= f.input :condition, label: 'Condition of the book:', collection: ['As New', 'Excellent', 'Very Good', 'Good', 'Fair', 'Poor'] %>

      <%= f.input :delivery_method, label: 'Delivery method:', collection: ['Pickup on location', 'Send by Post'].sort %>

      <%= f.label :selling_address, "*Only in case of pick-up: After payment, where can the buyer pick up this book?"%>
      <%= f.text_field :selling_address, :class => "form-control", :id => "selling_address" %>
<br/><br/>
      <%= f.number_field :correct_price, :class => "form-control", :style => "margin:0 auto;width:100px;",:placeholder => "Price" %>
<br/>

      <%= f.button :submit, class: "btn-lg btn-primary" %>

    <% end %>
</div>
  </div>

   <div class="footer">
      <div class="footer-copyright">
        <div>This website is made with <i class="fas fa-heart"></i> by Lucas, Sebastien and Alex </div>
      </div>

      <div class="footer-links">
        <div class="social-links">
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>

