<body style="background:#ECFCFF;border-radius: 3px;box-shadow: 1px 1px 2px rgba(0,0,0,0.1);">



<br/><br/><br/>
  <h2 class="text-center" style="font-size: 32px;font-family: 'Playfair Display', serif;font-weight: bold;margin-bottom: 30px;text-align: center;">log in</h2>
<div class="container"style="height:400px;width:320px;background:white;">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs" style="margin:0 auto;font-family: 'Playfair Display', serif;">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: true,
                  input_html: { autocomplete: "current-password" },:style=>"width:320px;background:#ECFCFF;"%>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in", :class =>"btn btn-primary" %>
    </div>
  <% end %>
  <div class="signup-link">Not a member ? <%= render "devise/shared/links" %></div>





</body>


<style>
</style>

