



<br/><br/><br/>

  <div class="Login-title">log in</div>
<div class="login-container">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs" style="margin:0 auto;font-family: 'Playfair Display', serif;">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: true,
                  input_html: { autocomplete: "current-password" }%>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in", :class =>"btn btn-primary" %>
    </div>
  <% end %>
  <div class="signup-link">Not a member ? <%= render "devise/shared/links"%></div>







