<div class="container">

  <div class="container" style="padding:25px;margin:200 0px 0 0px;">

    <h1 class="text-center">My sellers reviews</h1>
    <div class="text-center"><p>See the reviews you wrote about your books sellers.</p>



    </div>



    <div class="d-flex container justify-content-around">
      <div class="row row-cols-1 row-cols-md-3">
       <% @reviews.each do |review| %>
       <% if @reviews.blank? %>
       <p>You don't have any reviews written on you at the moment</p>
       <% else %>

       <div class="col-lg-6 col-md-6 col-sm-12">
         <div class="container" id="card-reviews">


          <div class="card h-100" style="box-shadow: 0px 15px 20px rgba(0,0,0,0.1);">
            <div class="avatarreview"><%= image_tag("books-stack.jpg", class: 'avatar') %></div>
            <div class="card-body">
              <p style="font-size:20px;font-family: 'Playfair Display';"><strong></strong> <%= review.purchase.book.title %></p>
              <p><strong>Author:<br/></strong> <%= review.purchase.book.author %></p>
              <p><strong>Seller name:<br/></strong> <%= review.purchase.book.user.first_name %></p>
              <p><strong>Your rating:<br/></strong> <%= review.content%></p>

            </div>
            <br/>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>

  </div>



</div>
</div>
