<body style="background:white;">
<div class="container" id="container-signup">

<!--  <div class="arrow-left">
  <%= link_to "<<", root_path,:class=>"btn btn-primary"  %>
</div> -->


<div class="wrapper" style= "padding:0 0px 20px 0px;width:340px;">

  <div class="title" style="padding:20px 10px 0px 10px;line-height:30px;height:120px;font-weight:400;font-size:18px;">How was your experience ? Leave a comment and rate the seller !
  </div>


 <div class="form-inputs">


  <%= simple_form_for([@purchase, @review]) do |f| %>
  <%= f.input :content, label: "Comment" %>
  <%= f.input :rating, value: 1, min: 1, max: 5 %>



  <%= f.button :submit, "Create review", :style => "border-radius:20px;margin:0 auto;color:white;width:200px;background:linear-gradient(-135deg, #3E64FF, #5EDFFF);" %>

<% end %>
</div>



</div>



<!-- <div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 col-sm-offset-4" style="text-align:center;">


      <div class="container" id="signupaside">
        <p>
          Sign up here so that you can quickly buy or add second-hand books on the platform.
        </p>

      </div>
    </div>
  </div>
</div> -->

</div>
</body>


